<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GONOGO.AI</title>

        <link href="{{ url_for('.static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('.static', filename='assets/img/favicon.png') }}" rel="icon" type="image/x-icon"/>

        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

</head>
                <body>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            GONOGO.ai
                                        </h1>
                                        <div class="page-header-subtitle">Come back soon...</div>
                                    </div>
                                </div>
                            </div>
                    </header>

                  <div class="container-xl px-6 mt-10">

                    <div class="col-xl-12 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Envie de faire partie de la révolution? Laissez nous votre email pour être informé.e du lancement !
                                    </div>
                                    <div class="card-body">
                                    <form>
                                        <div class="mb-3"><label for="exampleFormControlInput1">Votre email</label><input class="form-control" id="exampleFormControlInput1" type="email" placeholder="jeanmichel@gonogo.ai"></div>
                                        <div class="mb-0"><label for="exampleFormControlTextarea1">Un mot à nous dire?</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
                                        <button type="submit" class="btn btn-primary">Envoyer</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                  </div>
</body>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='js/scripts.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='assets/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('.static', filename='assets/demo/chart-bar-demo.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='js/datatables/datatables-simple-demo.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='js/litepicker.js') }}"></script>


</html>